<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <style>
    body {
      font-family: 'Abel', sans-serif;
    }
    .box {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      height: 50%;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      color: white;
    }
    .inner {
      margin: 12px;
    }
  </style>
</head>
<body>
<!-- todo -->
</body>
</html>