<html>
<head>
  <style>
    .box {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      height: 50%;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      color: white;
    }
    .inner {
      margin: 12px;
    }
    li {
      display: inline-block;
    }
  </style>
</head>
<body>
<div class="box">
  <div class="inner">

  </div>
</div>
</body>
</html>