<html>
<head>
  <style>
    .lap-box {
      background: rgba(0, 0, 0, 0.5);
      left: 24px;
      position: absolute;
      top: 24px;
      color: white;
    }
    .box {
      background: rgba(0, 0, 0, 0.5);
      left: 24px;
      position: absolute;
      top: 84px;
      color: white;
    }
    .inner {
      margin: 12px;
    }
    small {
      background: black;
      color: white;
    }
    tr {
      font-size: 18px;
      text-transform: uppercase;
      color: white;
    }

    .fastestlap {
      background: mediumpurple;
    }
    .current {
      background: deepskyblue;
    }
  </style>
</head>
<body>
<div class="lap-box">
  <div class="inner">
    <% if (standings.lap) { %><%= standings.lap %><% } %>
  </div>
</div>
<div class="box">
  <div class="inner">

    <table>
      <% Object.keys(standings.order).forEach(function(k) { %>
        <% var item = standings.order[k]; %>
        <tr>
          <td>1</td>
          <td style="background: <%= item.driver.color %>; border: 1px solid white;">&nbsp;&nbsp;&nbsp;</td>
          <td class="<% if (item.isFastestLap) { %>fastestlap <% } %> <% if (item.isOnCamera) { %>current <% } %>"><%= item.driver.surname %></td>
          <td><% if (item.pit > 0) { %>(<%= item.pit %>)<% } %></td>
        </tr>
      <% }); %>
    </table>

  </div>
</div>
</body>
</html>